.profileLink {
    @apply duration-300 border-transparent py-2 text-DarkGray px-4 border-b-2 lg:border-b-0 lg:border-r-2 items-center gap-3 hover:bg-gray-50 flex w-full;

    &.active {
        @apply text-Green bg-gray-50 border-gray-200;
    }
}