@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,300;7..72,400;7..72,500;7..72,600;7..72,700;7..72,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

// .swiper-pagination-bullet {
//     @apply bg-GreenLight bg-opacity-704;



// }
.swiper-pagination {
    @apply pb-4
}

.productDetailsSlider {
    .swiper-pagination {
        padding: 0 !important;
    }
}

.swiper-pagination-bullet-active {
    background-color: rgb(0, 167, 70) !important;
}


.shadow-1 {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shadow-2 {
    box-shadow: 0px 25px 35px 0px rgba(42, 167, 255, 0.15);
}

.swiper-button-prev {
    --tw-text-opacity: 1;
    color: rgb(3 75 71 / var(--tw-text-opacity)) !important;

}

.swiper-button-next {
    --tw-text-opacity: 1;
    color: rgb(3 75 71 / var(--tw-text-opacity)) !important;
}