.ProductCardStyle {
    transition: all 300ms;
    background-color: white;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .productImgWrapper {
        overflow: hidden;


        .OverLay2 {
            background: linear-gradient(0deg, rgba(64, 215, 225, 0.58) -16.17%, rgba(0, 0, 0, 0.58) 81.3%), lightgray -10.769px 0px / 104.149% 100% no-repeat;
            z-index: 10;
            opacity: 0;
            transition: all 300ms;
            transition-delay: 50ms;
        }

        .OverLay {
            opacity: 0;
            transition: all 300ms;
            transition-delay: 50ms;

        }

        .FadeUp {
            transform: translateY(150%);
            opacity: 0;
            transition: all 500ms;

        }

        .SlideRight {
            transform: translateX(150%);
            opacity: 0;
            transition: all 500ms;

        }

        &:hover {
            .OverLay {
                opacity: 1 !important;
            }

            .OverLay2 {
                opacity: 0.4 !important;

            }

            .FadeUp {
                transform: translateY(0px);
                opacity: 1;

            }

            .SlideRight {
                transform: translateX(0px);
                opacity: 1;

            }
        }

    }



}